<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Create User</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Page Content-->
<section layout:fragment="body">
    <div class="container">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Registration</h4>
            <form role="form" method="post" th:action="@{/users/new}" th:object="${user}">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="name" class="form-label">First name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                th:field="*{name}"
                                placeholder="name">
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                th:field="*{lastName}"
                                placeholder="lastName">
                        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
                    </div>

                    <div class="col-12">
                        <label for="userName" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="userName"
                                    name="userName"
                                    th:field="*{userName}"
                                    placeholder="userName">
                            <p th:if="${#fields.hasErrors('userName')}" class="text-danger" th:errors="*{userName}"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                        <input
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                th:field="*{email}"
                                placeholder="you@example.com">
                        <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <input
                                type="text"
                                class="form-control"
                                id="password"
                                name="password"
                                th:field="*{password}"
                                placeholder="password">
                        <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
                    </div>
                </div>
                <div>
                    <br>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Create account</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>